@*<div class="row">
    <div class="col-lg-4 d-flex flex-column">
        <div class="row flex-grow">
            <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-wrap justify-content-between">
                            <h4 class="card-title">งานทวง</h4>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="row d-none d-sm-flex">
                                    <div class="col-12 col-sm-6 text-left">
                                        <h1>891</h1>
                                        <p class="font-weight-normal text-muted">จำนวนลูกหนี้ทั้งหมด</p>
                                    </div>
                                    <div class="col-12 col-sm-6 text-left">
                                        <h1>227</h1>
                                        <p class="font-weight-normal text-muted">จำนวนลูกหนี้ติดตาม</p>
                                    </div>
                                </div>
                                <div class="row pt-3 mt-md-4">
                                    <div class="col">
                                        <div class="d-flex sales-top-chart-legend align-items-center">
                                            <div class="bg-info p-3 mr-3 mr-lg-0 mr-lg-3 mb-md-2 mb-lg-0">
                                                <canvas id="acquisition-bar_1" height="20" width="20"></canvas>
                                            </div>
                                            <div class="wrapper d-flex flex-column justify-content-center">
                                                <p class="font-weight-medium text-muted">จำนวนยอดทั้งหมด</p>
                                                <h3 class="font-weight-medium mb-0">12,783.00</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="d-flex sales-top-chart-legend align-items-center">
                                            <div class="bg-success p-3 mr-3 mr-lg-0 mr-lg-3 mb-md-2 mb-lg-0">
                                                <canvas id="acquisition-bar_2" height="20" width="20"></canvas>
                                            </div>
                                            <div class="wrapper d-flex flex-column justify-content-center">
                                                <p class="font-weight-medium text-muted">จำนวนยอกที่เก็บ</p>
                                                <h3 class="font-weight-medium mb-0">9,065.00</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 d-flex flex-column">
        <div class="row flex-grow">
            <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-wrap justify-content-between">
                            <h4 class="card-title">งานฟ้อง</h4>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="row d-none d-sm-flex">
                                    <div class="col-12 col-sm-6 text-left">
                                        <h1>891</h1>
                                        <p class="font-weight-normal text-muted">จำนวนลูกหนี้ทั้งหมด</p>
                                    </div>
                                    <div class="col-12 col-sm-6 text-left">
                                        <h1>227</h1>
                                        <p class="font-weight-normal text-muted">จำนวนลูกหนี้ติดตาม</p>
                                    </div>
                                </div>
                                <div class="row pt-3 mt-md-4">
                                    <div class="col">
                                        <div class="d-flex sales-top-chart-legend align-items-center">
                                            <div class="bg-info p-3 mr-3 mr-lg-0 mr-lg-3 mb-md-2 mb-lg-0">
                                                <canvas id="acquisition-bar_1" height="20" width="20"></canvas>
                                            </div>
                                            <div class="wrapper d-flex flex-column justify-content-center">
                                                <p class="font-weight-medium text-muted">จำนวนยอดทั้งหมด</p>
                                                <h3 class="font-weight-medium mb-0">12,783.00</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="d-flex sales-top-chart-legend align-items-center">
                                            <div class="bg-success p-3 mr-3 mr-lg-0 mr-lg-3 mb-md-2 mb-lg-0">
                                                <canvas id="acquisition-bar_2" height="20" width="20"></canvas>
                                            </div>
                                            <div class="wrapper d-flex flex-column justify-content-center">
                                                <p class="font-weight-medium text-muted">จำนวนยอกที่เก็บ</p>
                                                <h3 class="font-weight-medium mb-0">9,065.00</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 d-flex flex-column">
        <div class="row flex-grow">
            <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-wrap justify-content-between">
                            <h4 class="card-title">งานบังคับคดี</h4>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="row d-none d-sm-flex">
                                    <div class="col-12 col-sm-6 text-left">
                                        <h1>891</h1>
                                        <p class="font-weight-normal text-muted">จำนวนลูกหนี้ทั้งหมด</p>
                                    </div>
                                    <div class="col-12 col-sm-6 text-left">
                                        <h1>227</h1>
                                        <p class="font-weight-normal text-muted">จำนวนลูกหนี้ติดตาม</p>
                                    </div>
                                </div>
                                <div class="row pt-3 mt-md-4">
                                    <div class="col">
                                        <div class="d-flex sales-top-chart-legend align-items-center">
                                            <div class="bg-info p-3 mr-3 mr-lg-0 mr-lg-3 mb-md-2 mb-lg-0">
                                                <canvas id="acquisition-bar_1" height="20" width="20"></canvas>
                                            </div>
                                            <div class="wrapper d-flex flex-column justify-content-center">
                                                <p class="font-weight-medium text-muted">Budget</p>
                                                <h3 class="font-weight-medium mb-0">12,783.00</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="d-flex sales-top-chart-legend align-items-center">
                                            <div class="bg-success p-3 mr-3 mr-lg-0 mr-lg-3 mb-md-2 mb-lg-0">
                                                <canvas id="acquisition-bar_2" height="20" width="20"></canvas>
                                            </div>
                                            <div class="wrapper d-flex flex-column justify-content-center">
                                                <p class="font-weight-medium text-muted">Sales</p>
                                                <h3 class="font-weight-medium mb-0">9,065.00</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div class="row pricing-table" id="chart_loanee_count">
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div class="row pricing-table" id="chart_loanee_total">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6 grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-wrap justify-content-between">
                    <h4 class="card-title">งานที่ต้องทำ</h4>
                </div>
                <div class="table-responsive">
                    <table class="table center-aligned-table" id="tbl_todo">
                        <thead>
                            <tr class="bg-light" role="row">
                                <th class="text-nowrap">Collector</th>
                                <th class="text-nowrap">วันที่นัด</th>
                                <th class="text-nowrap">รายละเอียดงาน</th>
                                <th class="text-nowrap">ชื่อลูกหนี้</th>
                                <th class="text-nowrap">เลขที่สัญญา</th>
                                <th class="text-nowrap">เบอร์ติดต่อ</th>
                                <th class="text-nowrap">จำนวนเงิน</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-wrap justify-content-between">
                    <h4 class="card-title">ข้อความแจ้งเตือน</h4>
                </div>
                <div class="table-responsive">
                    <table class="table center-aligned-table" id="tbl_remaintask">
                        <thead>
                            <tr class="bg-light" role="row">
                                <th>วันเวลา</th>
                                <th>รายละเอียด</th>
                                <th>ผู้แจ้งเตือน</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



@Html.Hidden("hdGetRemainTaskPaging", Url.Action("GetRemainTaskPaging", "Dashboards"))
@Html.Hidden("hdGetLoaneeReamrkPaging", Url.Action("GetLoaneeReamrkPaging", "Dashboards"))
@Html.Hidden("hdGetLoaneeSummary", Url.Action("GetLoaneeSummary", "Dashboards"))
@Html.Hidden("hdGetPaymentSummary", Url.Action("GetPaymentSummary", "Dashboards"))

@section scripts{
    <script src="~/js/pages/dashboard.js" asp-append-version="true"></script>
}
