@using CourtJustice.Domain.Models;
@model AssetCar

@{
    Layout = null;
    ViewData["Title"] = "ข้อมูลรถ";
    var showAddressSetLookupUrl = @Url.Action("IndexAddressSetLookup", "AddressSets");
    var getAddressSetLookupUrl = @Url.Action("GetWithPaging", "AddressSets");
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="AddOrEdit" onsubmit="return AddOrEdit(this);">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label asp-for="ChassisNumber" class="control-label"></label>
                                    @{
                                        if (string.IsNullOrEmpty(Model.ChassisNumber))
                                        {
                                            <input asp-for="ChassisNumber" class="form-control" />
                                        }
                                        else
                                        {
                                            <input asp-for="ChassisNumber" class="form-control" readonly />
                                        }
                                    }
                                    <span asp-validation-for="ChassisNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label asp-for="EngineNumber" class="control-label"></label>
                                    <input asp-for="EngineNumber" class="form-control" />
                                    <span asp-validation-for="EngineNumber" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label asp-for="CarTypeCode" class="control-label"></label>
                                    <select class="form-control dropdown" id="ddlCarTypes" asp-for="CarTypeCode" asp-items="@ViewBag.CarTypes">
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <label asp-for="Brand" class="control-label"></label>
                                    <input asp-for="Brand" class="form-control" />
                                    <span asp-validation-for="Brand" class="text-danger"></span>
                                </div>

                                <div class="form-group col-md-2">
                                    <label asp-for="EstimatePrice" class="control-label"></label>
                                    <input asp-for="EstimatePrice" class="form-control" type="number" />
                                    <span asp-validation-for="EstimatePrice" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-2">
                                    <label asp-for="LicensePlate" class="control-label"></label>
                                    <input asp-for="LicensePlate" class="form-control" />
                                    <span asp-validation-for="LicensePlate" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label asp-for="Owner" class="control-label"></label>
                                    <input asp-for="Owner" class="form-control" />
                                    <span asp-validation-for="Owner" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">

                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@Html.Hidden("hdGetAddressSetById", Url.Action("GetAddressById", "AddressSets"))

