@using CourtJustice.Domain.Models;
@model AssetCar

@{
    ViewData["Title"] = "ข้อมูลรถยนต์";
}
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between mb-3">
                    <h3 class="mb-3">แก้ไข @ViewData["Title"]</h3>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label asp-for="ChassisNumber" class="control-label"></label>
                                    <input asp-for="ChassisNumber" class="form-control" readonly />

                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label asp-for="EngineNumber" class="control-label"></label>
                                    <input asp-for="EngineNumber" class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label asp-for="Brand" class="control-label"></label>
                                    <input asp-for="Brand" class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label asp-for="Model" class="control-label"></label>
                                    <input asp-for="Model" class="form-control" />
                                   
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label asp-for="ProductionYear" class="control-label"></label>
                                    <input asp-for="ProductionYear" class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label asp-for="EstimatePrice" class="control-label"></label>
                                    <input asp-for="EstimatePrice" class="form-control" />
                                   
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label asp-for="LicensePlate" class="control-label"></label>
                                    <input asp-for="LicensePlate" class="form-control" />
                                   
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label asp-for="Owner" class="control-label"></label>
                                    <input asp-for="Owner" class="form-control" />
                                    <span asp-validation-for="Owner" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <a asp-action="Index" class="btn btn-light">Back</a>
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
