@using CourtJustice.Domain.Models;
@model Court

@{
    ViewData["Title"] = "ข้อมูลศาล";
    var showAddressSetLookupUrl = @Url.Action("IndexAddressSetLookup", "AddressSets");
    var getAddressSetLookupUrl = @Url.Action("GetWithPaging", "AddressSets");
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between mb-3">
                    <h3 class="mb-3">เพิ่ม @ViewData["Title"]</h3>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="Create">

                            <div class="row">
                                <div class="form-group col-md-2">
                                    <label asp-for="CourtId" class="control-label"></label>
                                    <input asp-for="CourtId" class="form-control" />
                                    <span asp-validation-for="CourtId" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label asp-for="CourtName" class="control-label"></label>
                                    <input asp-for="CourtName" class="form-control" />
                                    <span asp-validation-for="CourtName" class="text-danger"></span>
                                </div>

                            </div>

                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label asp-for="Address" class="control-label"></label>
                                    <div class="input-group">
                                        <input asp-for="Address" type="text" class="form-control" id="txtAddressSetLookup" />
                                        <span class="input-group-append">
                                            <a href="#" onclick="showLookup('0','@showAddressSetLookupUrl','@getAddressSetLookupUrl');" class="btn btn-primary text-white">...</a>
                                        </span>
                                    </div>
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="AddressDetail" class="control-label"></label>
                                    <input asp-for="AddressDetail" class="form-control" />
                                    <span asp-validation-for="AddressDetail" class="text-danger"></span>
                           
                            </div>



                            <div class="form-group">
                                <a asp-action="Index" class="btn btn-light">Back</a>
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@Html.Hidden("hdGetAddressSetById", Url.Action("GetAddressById", "AddressSets"))
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/js/pages/address_lookup.js" asp-append-version="true"></script>
        <script src="~/js/pages/court.js" asp-append-version="true"></script>
    }
}
