@using CourtJustice.Domain.Models;
@model IEnumerable<Loanee>
@{
    ViewData["Title"] = "ข้อมูลลูกหนี้";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between mb-3">
                    <h3 class="mb-3">@ViewData["Title"]</h3>
                    <a asp-action="Create" class="btn btn-success text-white"><i class="fa fa-plus"></i> Create New</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div id="view-table">
                    @await Html.PartialAsync("_ViewTable", Model)
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Hidden("hdDeleteRoute",Url.Action("Delete","Loanees"))
@Html.Hidden("hdGetWithPaging",Url.Action("GetWithPaging","Loanees"))
@section scripts{
    <script src="~/js/pages/loanee.js" asp-append-version="true"></script>
}
