@using CourtJustice.Domain.ViewModels;
@model IEnumerable<LoaneeViewModel>
@{
    ViewData["Title"] = "ข้อมูลลูกหนี้";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between mb-3">
                    <h3 class="mb-3">@ViewData["Title"]</h3>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex flex-wrap justify-content-between">
                            <div class="form-inline">
                                <div class="form-group">
                                    <div class="form-group ml-2">
                                        <label class="control-label">ผู้ว่าจ้าง</label>
                                        <select id="ddlEmployer" class="form-control dropdown ml-2" asp-items="ViewBag.Employers"></select>
                                    </div>
             @*                       <div class="form-group ml-2">
                                        <label class="control-label">กลุ่มงาน</label>
                                        <select id="ddlTaskStatus" class="form-control dropdown ml-2" asp-items="ViewBag.TaskStatus"></select>
                                    </div>
                                    <div class="form-group ml-2">
                                        <label class="control-label">กลุ่มงานย่อย</label>
                                        <select id="ddlSubTaskStatus" class="form-control dropdown ml-2" asp-items="ViewBag.SubTaskStatus"></select>
                                    </div>*@
                @*                    <label class="sr-only" for="txtStartDate">StartDate</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="mdi mdi-calendar"></i></div>
                                        </div>
                                        <input type="text" class="form-control date" id="txtStartDate" />
                                    </div>
                                    <label class="sr-only" for="txtEndDate">EndDate</label>
                                    <div class="input-group ml-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="mdi mdi-calendar"></i></div>
                                        </div>
                                        <input type="text" class="form-control date" id="txtEndDate" />
                                    </div>*@
                                    <a onclick="getLoanee();" class="btn btn-primary text-white ml-2"><i class="fa fa-refresh"></i> Show Data</a>
                                </div>
                            </div>
                            <div class="form-inline">
                                <a asp-action="Import" class="btn btn-info text-white ml-2"><i class="fa fa-file-excel-o"></i> Import</a>
                                <a asp-action="Create" class="btn btn-success text-white ml-2"><i class="fa fa-plus"></i> Create New</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div id="view-table">
                    @await Html.PartialAsync("_ViewTable", Model)
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Hidden("hdDeleteRoute",Url.Action("Delete","Loanees"))
@Html.Hidden("hdGetWithPaging",Url.Action("GetWithPaging","Loanees"))
@section scripts{
    <script src="~/js/pages/loanee.js" asp-append-version="true"></script>
}
