@using CourtJustice.Domain.ViewModels;
@model CompanyResultCodeViewModel

@{
    Layout = null;
    var url = Url.Action("CreateCompanyResultCode", "CompanyResultCodes");
}
<div class="row">
    <div class="col-md-12">
        <input asp-for="CompanyActionId" class="form-control" type="hidden" id="txtCompanyActionId" />
        <input asp-for="CompanyResultId" class="form-control" type="hidden" id="txtCompanyResultId" />

        <div class="row">
            <div class="form-group col-md-12">
                <label asp-for="CompanyActionCodeName" class="control-label"></label>
                <input asp-for="CompanyActionCodeName" class="form-control" readonly/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label asp-for="CompanyResultCodeId" class="control-label"></label>
                <input asp-for="CompanyResultCodeId" class="form-control" id="txtCompanyResultCodeId" />
            </div>
        </div>
        <div class="row">

            <div class="form-group col-md-12">
                <label asp-for="CompanyResultCodeName" class="control-label"></label>
                <input asp-for="CompanyResultCodeName" class="form-control" id="txtCompanyResultCodeName" />
            </div>
        </div>


        <div class="d-flex flex-wrap justify-content-end mt-2">
            <input type="button" value="Save" class="btn btn-primary" onclick="saveCompanyResultCode('@url')" />
        </div>

    </div>
</div>