@using CourtJustice.Domain.Models;
@model BankActionCode

@{
    ViewData["Title"] = "BankActionCode";
}
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between mb-3">
                    <h3 class="mb-3">เพิ่ม @ViewData["Title"]</h3>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label asp-for="BankActionCodeId" class="control-label"></label>
                                    <input asp-for="BankActionCodeId" class="form-control" />
                                    <span asp-validation-for="BankActionCodeId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">

                                <div class="form-group col-md-6">
                                    <label asp-for="BankActionCodeName" class="control-label"></label>
                                    <input asp-for="BankActionCodeName" class="form-control" />
                                    <span asp-validation-for="BankActionCodeName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                  
                                        <label class="control-label" asp-for="EmployerCode"></label>
                                        <select class="form-control dropdown" id="ddlEmployer" asp-for="EmployerCode" asp-items="@ViewBag.Employers">
                                        </select>
                                 
                                </div>
                            </div>
                            <div class="form-group">
                                <a asp-action="Index" class="btn btn-light">Back</a>
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
