@using CourtJustice.Domain.Models;
@model BankResultCode

@{
    Layout = null;
    //ViewData["Title"] = "Result Code[ธนาคาร]";
}
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="form-group col-md-12">
                <label asp-for="BankResultId" class="control-label"></label>
                <input asp-for="BankResultId" class="form-control" type="text" id="txtBankResultId"  readonly/>

            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label asp-for="BankResultCodeId" class="control-label"></label>
                <input asp-for="BankResultCodeId" class="form-control" id="txtBankResultCodeId" />
            </div>
        </div>
        <div class="row">

            <div class="form-group col-md-12">
                <label asp-for="BankResultCodeName" class="control-label"></label>
                <input asp-for="BankResultCodeName" class="form-control" id="txtBankResultCodeName" />
            </div>
        </div>


        <div class="form-group">
            <input type="button" value="Cancel" class="btn btn-dark text-white" onclick="hideBankResultPopup();" />
            <input type="button" value="Ok" class="btn btn-primary" onclick="return editDataToTable();" />
        </div>
    </div>
</div>

@*<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between mb-3">
                    <h3 class="mb-3">แก้ไข @ViewData["Title"]</h3>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="Edit">
                            <input asp-for="BankResultId" class="form-control" type="hidden" />
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label asp-for="BankResultCodeId" class="control-label"></label>
                                    <input asp-for="BankResultCodeId" class="form-control" />
                                </div>
                            </div>
                            <div class="row">

                                <div class="form-group col-md-6">
                                    <label asp-for="BankResultCodeName" class="control-label"></label>
                                    <input asp-for="BankResultCodeName" class="form-control" />
                                </div>
                            </div>


                            <div class="form-group">
                                <a asp-action="Index" class="btn btn-light">Back</a>
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>*@

@*@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
*@