@{

    Layout = null;
}

<div class="table-responsive">
    <table class="table table-bordered table-hover" id="tbl_address_set_lookup">
        <thead>
            <tr class="bg-primary text-white" role="row">
                <th></th>
                @*<th>รหัสจังหวัด</th>*@
                <th>จังหวัด</th>
                @*<th>รหัสอำเภอ</th>*@
                <th>อำเภอ</th>
                @*<th>รหัสตำบล</th>*@
                <th>ตำบล</th>
                <th>รหัสไปรษณีย์</th>
            </tr>
        </thead>
    </table>
</div>
